<html>
<head>
    <link rel = "stylesheet" href="/static/style.css"/>

</head>
<body>
    <center>
<form method = "POST"><br>
    <h1>Register</h1>
    <div class="container">

      <p>Please fill in this form to create an account.</p>
      <hr>
  
      <label for="email"><b>First name</b></label>
      <input type="text" placeholder="Enter First name" name="fname" id="fname"><br>

      <label for="email"><b>Last name</b></label>
      <input type="text" placeholder="Enter Last name" name="lname" id="lname" ><br>

      <label for="email"><b>Username</b></label>
      <input type="text" placeholder="Enter username" name="username" id="username" ><br>
 
      <label for="psw"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="psw" id="psw" ><br>


      <button type="submit" class="registerbtn">Register</button><br>
    </div>
  
    </div>
</center>

</form>

</body>
</html>